html {
  height: 100%;
  width: 100%;
  font-family: "Titillium Web", sans-serif !important;
}

body {
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(pink, violet) !important;
}

button .formButton{
  font-size: 7px;
}

#main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.3);
  padding: 50px 25px 26px 26px !important;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}

#activeList {
  margin: 10px;
  width: 30%;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 20px 18px 18px !important;
  /* padding: 15px 300px 18px 18px !important; */
  padding-bottom: 100px !important;
  border-radius: 25px;
  box-shadow: 2px 5px 5px #333;
  position: absolute;
  left: 150px;
  bottom: -400px;

}
#completedList {
  margin: 10px;
  width: 30%;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 20px 18px 18px !important;
  /* padding: 15px 300px 18px 18px !important; */
  padding-bottom: 100px !important;
  border-radius: 25px;
  box-shadow: 2px 5px 5px #333;
  position: absolute;
  left: 800px;
  bottom: -400px;

}
.position{
  text-align: center;
}
/* .deleteButton{
  position: absolute;
  right: -39px;
  top: 2px;
  width: 10px;
  background-color: indigo;
  color: white;
  padding: 0% 15px 2px;
  border-radius: 10px 12 ;
}
.deleteButton:hover{
  background-color: purple;
} */
/* button {
  position: absolute;
  right: -50px;
  top: -5px;
} */
button .buttonPosition:hover{
  background-color: 'purple'
}
